.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.button{
  
  background-color:#4CAF50;
  color:aquamarine;
  font-size:30px;
  border:none;
  padding-left: 10px;
  border-radius:10px;
  
  border-color: red yellow green hsla(60, 90%, 50%, .8);
  border-width: thick;
}

body {
  background-image:url(Luddo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #dc1010;
}

p {
  font-size: 2rem;
  color: #151616;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
