body {
    background-image: url("placementcon.png");
}

h1 {
    color: deeppink;
}

h2 {
    color: chartreuse;
}

h3 {
    color: crimson;
}

p {
    color: greenyellow;
}

ul li {
    color: chartreuse;
}

a {
    color: red;
}