body {
    /* background-image: linear-gradient(to right, #f46b45, #eea849); */
    /*background-image: linear-gradient(to right, #606c88, #3f4c6b);*/
    background-color: green;
    color: white;
    text-align: center;
  }
  .wrapper {
    width: fit-content;
    margin: auto;
  }
  .hint-div {
    display: flex;
    color: chartreuse;
  }
  .hint-btn,
  .reset-btn,
  .notif-btn {
    cursor: pointer;
  }
  .reset-btn {
    margin-left: auto;
  }
  .alpha {
    width: 2rem;
    height: 2rem;
    background: #ffe5b4;
    border: none;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
  }
  .alpha:hover {
    background-color: #e75480;
    border: none;
  }
  .disabled {
    pointer-events: none;
    background-color: darkgray;
  }
  
  .word-div {
    display: inline-flex;
  }
  .word {
    margin-right: 1.5rem;
  }
  
  .notif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fc6c85;
    width: 20rem;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .blur {
    filter: blur(2px);
  }
  .hidden {
    display: none;
  }